body {
    background-color: #27374d;
}
h1 {
    text-align: center;
    color: white;
    margin: 20px;
}
.trush {
    width: 20px;
    padding: 2px;
    cursor: pointer;
}

.edit {
    width: 20px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.inp {
    width: 250px;
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
    text-transform: uppercase;
}

.form-container {
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

.container {
    background-color: #dde6ed;
    border-radius: 10px;
    margin: 10px;
}
.names {
    text-transform: uppercase;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.stat-div {
    background-color: #dde6ed;
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.stat-div div {
    background-color: #9db2bf;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.confirmation-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
