body {
    background-color: #27374d;
}
h1 {
    text-align: center;
    color: white;
    margin: 20px;
}
.trush {
    width: 20px;
    padding: 2px;
}

.edit {
    width: 20px;
    height: 30px;
    margin-right: 10px;
}

.inp {
    width: 250px;
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
    text-transform: uppercase;
}

.form-container {
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

.container {
    background-color: #dde6ed;
    border-radius: 10px;
    margin: 10px;
}
.names {
    text-transform: uppercase;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.stat-div {
    background-color: #dde6ed;
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.stat-div div {
    background-color: #9db2bf;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
